@import "../../styles/vars.scss";

.claim {
  background-color: #20203C;
  display: flex;
  justify-content: center;
  align-items: center;
  .header {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-bottom: 8px;
    .claimBackContainer {
      width: 16px;
      .claimBack {
        cursor: pointer;
      }
    }
    .stepsTitle {
      user-select: none;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 167%;
      color: #0071ff;
    }
    .progressBar {
      width: 150px;
      height: 8px;
      background: #e0e0e0;
      border-radius: 10px;
      div {
        height: 8px;
        width: 25%;
        background-color: #0071ff;
        border-radius: 10px;
        transition: all 0.3s;
      }
    }
  }

}

@media screen and (max-width: $mobile) {
  .container {
    height: max-content;
    justify-content: center;
    width: 100%;
    .header {
      margin-bottom: 12px;
    }
  }
}
