@import "../../styles/vars.scss";

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  user-select: none;
  transform: translateX(100%);
  transition: 0.5s;
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    display: flex;
    padding: 20px;
    gap: 60px;
    align-items: center;
    justify-content: end;
    color: #fff;
    .closeBtn {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      &:hover {
        color: $primary;
        svg {
          fill: $primary;
        }
      }
      .closeBtnTitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    li {
      display: block;
      padding: 20px;
      width: 331px;
      height: 100px;
      text-decoration: none;
      overflow: hidden;
      color: #fff;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 60px;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}
.active {
  transform: translateX(0);
}
ul li:before {
  content: attr(data-text);
  position: absolute;
  mix-blend-mode: overlay;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
}
ul li:hover::before {
  opacity: 0.5;
}

@media screen and (max-width: $mobile) {
  .menu {
    align-items: flex-start;
    padding-top: 102px;
    .header {
      gap: 20px;
      .closeBtnTitle {
        display: none;
      }
    }
    ul {
      li {
        width: 234px;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  ul li:before {
    display: none;
  }
}
