.title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 133%;
  color: #081c3a;
  margin-bottom: 60px;
}
.form {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 10px;
}
