@import './fonts.scss';
@import './main.scss';
@import './vars.scss';

section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.main-container {
  min-height: 100vh;
}

.init-loading {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.8s ease;
  z-index: 1000;
}
