@import './fonts.scss';
@import './main.scss';
@import './vars.scss';

section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 15px;
}

.main-container {
  min-height: 100vh;
}
