@import "../../styles/vars.scss";

.about {
  background: #0a0a0c;
  .content {
    display: flex;
    flex-direction: column;
    gap: 120px;
    @media screen and (max-width: $laptop) {
      gap: 80px;
    }
    @media screen and (max-width: $tablet) {
      gap: 60px;
    }
    @media screen and (max-width: $mobile) {
      gap: 60px;
    }
    .top {
      position: relative;
      display: flex;
      align-items: center;
      gap: 40px;
      .textContent {
        max-width: 100%;
        width: 100%;
        font-weight: 600;
        font-size: 60px;
        line-height: 64px;
        overflow: hidden;
        @media screen and (max-width: $laptop) {
          font-size: 32px;
          line-height: 40px;
        }
        @media screen and (max-width: $tablet) {
          font-size: 40px;
          line-height: 48px;
        }
        @media screen and (max-width: $mobile) {
          font-size: 32px;
          line-height: 40px;
        }
        .title {
          color: #0071ff;
          margin-bottom: 20px;
          position: relative;
          width: max-content;
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #0a0a0c;
            border-left: 2px solid #fff;
            animation: animate 4s steps(12) infinite alternate;
          }
        }
        .subtitle {
          color: #fff;
        }
      }
      .gif {
        @media screen and (max-width: $tablet) {
          position: absolute;
          right: 0px;
          z-index: -1;
        }
        @media screen and (max-width: $mobile) {
          position: absolute;
          right: 0px;
          z-index: -1;
        }
      }
      img {
        display: block;
        width: 350px;
        height: 140px;

        @media screen and (max-width: $tablet) {
          mix-blend-mode: screen;
          opacity: 0.12;
        }
        @media screen and (max-width: $mobile) {
          mix-blend-mode: screen;
          opacity: 0.12;
        }
      }
    }
  }
  .bot {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      row-gap: 40px;
    }
    @media screen and (max-width: $mobile) {
      gap: 40px;
    }
  }
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
