@import "../../../styles/vars.scss";

.formContainer {
  .formTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 60px;
    @media screen and (max-width: $laptop) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 24px;
      line-height: 32px;
    }
    @media screen and (max-width: $mobile) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    width: 1280px;
    height: 380px;
    background: #141418;
    border: 1px solid #323235;
    border-radius: 4px;
    @media screen and (max-width: $laptop) {
      width: 100%;
    }
    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #66aaff;
    }
    .npeContainer {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 20px;
      .inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 393.33px;
        height: 68px;
        input {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 12px 0px;
          width: 393.33px;
          height: 48px;
          border: 0;
          border-bottom: 1px solid #323235;
          background: #141418;
          color: #fff;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          &:focus {
            outline: none;
          }
        }
        input::placeholder {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 1220px;
      height: 92px;
      margin-bottom: 20px;
      textarea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 0px;
        width: 1220px;
        height: 72px;
        border: 0;
        border-bottom: 1px solid #323235;
        resize: none;
        overflow: auto !important;
        background: #141418;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        &:focus {
          outline: none;
        }
      }
    }
    textarea::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
    }
    .file {
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      align-items: center;
      margin-bottom: 30px;
      .uploadFileBtn {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 144px;
        height: 38px;
        cursor: pointer;
        .btnTitleContainer {
          .btntitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #fff;
          }
          .btnSubtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .wrapperBtnCheck {
      display: flex;
      align-items: center;
      gap: 40px;

      .btnSendForm {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 184px;
        height: 48px;
        background: #0071ff;
        border-radius: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;
        &:hover {
          background: #66aaff;
        }
        border: 0;
        &:focus {
          outline: none;
        }
      }
      .agreements {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
        .agreementsText {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #fff;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #66aaff;
          }
        }
      }
    }
  }
}
input:focus {
  outline: none;
}
.disabled {
  background: #202023;
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
@media screen and (max-width: $mobile) {
  .formContainer {
    width: 100%;
    .formTitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 12px;
    }
    .formWrapper {
      padding: 24px;
      width: 100%;
      .label {
        display: none;
      }
      .npeContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;
        .inputWrapper {
          input {
            padding: 12px 0px;
          }
          input::placeholder {
            color: #516381;
          }
        }
      }
      .message {
        width: 100%;
        margin-bottom: 12px;
        textarea {
          width: 100%;
          padding: 12px 0px;
        }
      }
      textarea::placeholder {
        color: #516381;
      }
      .btnSendForm {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
