@import "../../../styles/vars.scss";

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #081c3a;
  margin-bottom: 32px;
}
.step {
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: $mobile) {
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #081c3a;
    margin-bottom: 12px;
  }
  .step {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
